<div class="container mx-auto">
  <h1 class="text-xl"><%= @call.name %></h1>
  <h2 class="text-lg">Endpoint: <%= @call.endpoint %></h2>
  <br/>
  <p class="text-lg"> Please Enter Your Query Parameters</p>
  <%= render "call_api/form" %>
</div>