<% label_class = 'text-sm font-medium text-gray-600 '%>
<% input_class = 'shadow  border border-gray-300 rounded w-full py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-400 leading-6 transition-colors duration-200 ease-in-out' %>
<% button_class = 'my-2 go-button text-white font-bold text-sm py-2 px-4 rounded' %>

<div class="h-full w-full max-w-xs mx-auto align-middle" data-controller="bluewave-login">
  <h2>Blue Wave Authentication</h2>
  <% if flash[:danger] %>
    <h3>Something went wrong: <%= flash[:danger] %></h3>
  <% end %>
  <%= render 'bluewave/login/form' %>
</div>