<div>
  <%= render 'api_sessions/session_nav' %>
  <h1 class="text-xl"><%= @management.name %></h1>
  <h2 class="text-lg">Endpoint: <%= @data.endpoint %></h2>
  <br/>
  <p class="text-lg"> Please Fill In The Details Below</p>
  <%= render "management_api/form"  %>
</div>