<div class="w-full h-full">
  <% render 'bluewave/home/sessions' %>
  <% if @resp %>
    <h1 class="text-lg"> Status Code: <%= @resp.status %></h1>
   <br/>
    <h2 class="text-lg"><%= @resp.body %></h2>
  <% end %>
</div>