<div class="h-full w-full max-w-xs mx-auto align-middle">
  <h2>Create Data API Session</h2>
  <% if flash[:danger] %>
    <h3>Something went wrong: <%= flash[:danger] %></h3>
  <% end %>
  <%= render 'data_api_sessions/form' %>
</div>