<div class="flex justify-center">
  <%= link_to 'Create Data API Session', sessions_new_path, class: "mr-3 text-white rounded-lg py-3 px-5 success text-white inline-block font-bold" %>

  <%= link_to 'Refresh Session', sessions_refresh_path, class: "mr-3 text-white rounded-lg py-3 px-5 bg-gray-100 font-bold  go-button" %>

  <%= button_to 'Destroy Session', sessions_terminate_path, method: :delete,
                data: { confirm: "Are you sure you want to delete your current session?" },
                class: "text-white rounded-lg py-3 px-5 danger hover:bg-red-500 text-white font-bold" %>
</div>