<div class="container mx-auto">
  <h1 class="text-2xl text-center">Data Status Monitor API</h1>
  <%= render "api_sessions/session_nav" %>
  <div class="my-4">
    <h2 class="text-xl">The Data API enables a client application to retrieve different types of information, which resides in the
      Unigy database or in other Unigy resources.
      The Blue Wave Data API returns information stored in the Unigy database, but only provides a snapshot
      in time of the information. When updates to the database are made due to various activities in the
      system, the client application has to re-issue the Data API to retrieve information that is newly available.</h2>

    <div class="my-2">
      <h2 class="text-xl">Use the Data API to retrieve the following types of information:</h2>
      <ul class="text-xl list-disc m-2">
        <li>Information from the Unigy database</li>
        <li>Information about Unigy line resources. This information is obtained as updates on a data status
          monitor. Currently data status monitoring is supported on the line resource only.</li>
      </ul>
    </div>
  </div>

  <div class="grid grid-cols-3 p-2">
    <% @data_calls.each do |call| %>
      <%= link_to call.name, call, class: "text-lg hover:text-gray-500" %>
    <% end %>
  </div>
</div>