<div class="pt-2 mt-2">
  <%= simple_form_for :api, url: data_api_path do |f| %>
    <% @data_api.params.each do |param| %>
      <%= f.input param.to_sym %>
    <% end %>
    <%= f.hidden_field :endpoint, :input_html => {value: @data_api.endpoint} %>
    <%= f.button :submit, "Make Request" %>
  <% end %>
</div>