<div class="container mx-auto">
  <h1 class="text-2xl text-center">Data API</h1>
<h2 class="text-lg">The Data API enables a client application to retrieve different types of information, which resides in the
  Unigy database or in other Unigy resources.
  The Blue Wave Data API returns information stored in the Unigy database, but only provides a snapshot
  in time of the information. When updates to the database are made due to various activities in the
  system, the client application has to re-issue the Data API to retrieve information that is newly available.</h2>
<h3 class="text-lg font-semibold">Functionality</h3>
    <h2 class="text-lg">Use the Data API to retrieve the following types of information:</h2>
    <ul class="text-lg list-disc m-2">
      <li>Information from the Unigy database</li>
      <li>Information about Unigy line resources. This information is obtained as updates on a data status
        monitor. Currently data status monitoring is supported on the line resource only.</li>
    </ul>
    <h4 class="text-lg">Please be sure to start a
      <%= link_to "Data API Session", data_api_login_path, class: "font-bold hover:text-gray-500" %>
      before making calls to the Data API. Sessions Expire after 90 minutes unless
      <%= link_to "Refreshed", data_api_login_path, class: "font-bold hover:text-gray-500"%> . You can close
      your current Session <%= link_to "Here", data_api_login_path, class: "font-bold hover:text-gray-500"%>
       </h4>
  <br/>
  <div class="grid grid-cols-3">
    <% @data_calls.each do |call| %>
      <%= link_to call.name, call, class: "text-lg hover:text-gray-500" %>
    <% end %>
  </div>
</div>