/* Variables */
:root{
    --orange: #eeb902;
    --yellow: #EEE82c;
    --green1: #98f734;
    --green2: #52e017;
    --blue1: #336584;
    --blue2: #151A5D;
    --grey: #505050;
    --off-black: #030303;
    --red: #f00;
}

/* Global Styles */
html{
    color: var(--off-black)
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato Heavy, Segeo UI Bold ;
}

p, li, span {
    font-family: Lato regular, Segeo UI ;
}

/* Navbar */
nav{
    background-color: var(--off-black);
}
.nav-hover:hover{
    background-color: var(--grey);
}

/* flash*/
.success{
    background: var(--green2);
}
.danger{
    background: var(--red);
}

/* Buttons */
.go-button{
    background: var(--blue1);
}

.go-button:hover{
    background: var(--blue2);
}

.success:hover{
    background: var(--green1);
}


.api-contents > h2{
    font-size: 1.5em;
}

.dropdown {
    position: relative;
}

.dropdown:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
}

.none{
    display: none;
}

