<div class="container mx-auto">
  <h1 class="text-xl"><%= @cti.name %></h1>
  <h2 class="text-lg">Endpoint: <%= @cti.endpoint %></h2>
  <br/>
  <p class="text-lg"> Please Enter Your Query Parameters</p>
  <%= render "cti_api/form" %>
</div>