<% nav_link_list = [["Sessions", sessions_new_path,],
                    ["Data", data_api_index_path],
                    ["CTI Monitor", cti_api_index_path],
                    ["Call", call_api_index_path],
                    ["Schema Files", reference_path],
                    ["Data Status Monitor", data_status_monitor_api_index_path,],
                    ["Device", device_api_index_path],
                    ["Account Management",management_api_index_path],
                    ["Monitoring", monitoring_api_url(1)]
] %>
<% desktop_class = "hover:bg-gray-100 px-3 py-2 rounded-md text-md font-medium" %>
<% mobile_class = desktop_class + " block" %>
<% nav_link_lambda = -> (title, path, style) {link_to(title, path, class: style )} %>

<nav class="bg-white sticky">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-24">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to root_path do %>
            <%= image_tag "logo.jpg", alt: "JP Reis", class: "h-16 w-36" %>
          <% end %>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center ">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400
        hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-controls="mobile-menu" aria-expanded="false" onclick="toggleMobileMenu()">
          <span class="sr-only">Open main menu</span>

          <svg id='closedIcon' class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>

          <svg id='openIcon' class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>

      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <% nav_link_list.each do |data| %>
        <%= nav_link_lambda.call data[0], data[1],mobile_class %>
      <% end %>
    </div>
  </div>
</nav>

<script>
    let menuShowing = false;
    function toggleMobileMenu(){
        let closedIcon = document.getElementById('closedIcon'); // burger
        let openIcon = document.getElementById('openIcon'); // X
        let mobileMenu = document.getElementById('mobile-menu');

        if(!menuShowing){ // menu isn't showing
            closedIcon.classList.replace('block','hidden');
            openIcon.classList.replace('hidden', 'block');
            mobileMenu.classList.replace('hidden', 'block');
            menuShowing = !menuShowing
        }else{ //menu is Showing
            openIcon.classList.replace('block','hidden');
            closedIcon.classList.replace('hidden', 'block');
            mobileMenu.classList.replace('block','hidden');
            menuShowing = !menuShowing
        }
    }
</script>